.wrapper {
    width: 1500px;
    margin: 0 auto;
    background-color: #f5deb3;
}

.header {
    background-color: #f8f8ff;
    padding: 30px;
}

.content {
    background-color: #dcdcdc;
    padding: 25px;
}

.footer {
    background-color: gray;
}

#form {
    background-color: green;
}

