body {
    padding-top: 1px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.ui-growl {
    top: 80px; /*to make messages appear below navbar*/
}

.extra-padd {
    padding-top: 26px;
}

.extra-padd2 {
    padding-top: 10px;
}

.offset-special {
    margin-left: 16px;
}

.gmap {
    margin: 20px;
}

.show-grid1 {
    background-color: #fafad2;
}

.show-grid {
    background-color: #add8e6;
}

#galleria {
    width: 700px;
    height: 400px;
    background: #000;
}

.reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


