body {
    padding-top: 100px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.ui-growl {
    top: 80px; /*to make messages appear below navbar*/
}

.gmap {
    margin: 20px;
}

.show-grid1 {
    background-color: #fafad2;
}
.show-grid {
    background-color: #add8e6;
}


